<form role="form" action="" method="POST">
  <!-- TODO: CSRF protection -->
  <input type="hidden" name="ref" value="<%= params[:ref] %>">
  <div class="form-group">
    <input class="form-control" type="text" name="username" placeholder="Username">
  </div>
  <input class="btn btn-default btn-lg" type="submit" value="Trust me!">
</form>
